# typescript
*.tsbuildinfo
next-env.d.ts

#venv
.venv/

# Root .gitignore
# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env*

# Backend
backend/venv/
backend/__pycache__/
backend/.env
**/*.pyc
backend/openai-key.sh

# IDE and OS
.DS_Store
.idea/
.vscode/
node_modules
